language: java
jdk:
  - openjdk11

branches:
  only:
    - master
    - feature/travis

before_install:
  - git clone https://github.com/elastic/logstash.git
  - cd ./logstash
  - ./gradlew clean assemble
  - export LOGSTASH_CORE_PATH=$PWD/logstash-core
  - cd ../
  - echo "LOGSTASH_CORE_PATH=$LOGSTASH_CORE_PATH" >> gradle.properties

script:
  - ./gradlew clean gem
after_script:
  - rm -rf ./logstash
  - rm ./gradle.properties
